.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
.top {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.links{
    display: flex;
    width: 500px;
    padding: 40px;
    gap: 15px;
    font-size: 18px;
}
 .website{
    background-color: #1f2937;
    color:#ffffff;
    display: flex;
    justify-content: space-around;
 }
 .web {
    justify-content: space-around;
 }
 .web .title{
    font-size: 48px;
    font-weight: bolder;
 }
  .web .sign {
    font-size: 20px;
 }
 .web .signup {
    background-color: #3882f6;
 }
 .img {
    width: 50%;
    height: auto;
 }

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: hsl(215, 28%, 17%);
}
 .content {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    gap: 8px;
    padding: 20px;
 }

 img {
    width: 300px;
    height: 300px;
 }
 .quote {
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 40px;
 }
 .quote .quot {
    font-size: 36px;
    font-style: italic; 
    font-weight: lighter;
    display: flex;
    justify-content: center;
 }
 .quote .author {
    display: flex;
    justify-content: center;
    font-weight: bold;
 }

 .last {
    background-color: rgb(88, 183, 215);
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 8px;
    flex-shrink: 2;
 }
 .click {
    padding: 10px;
    flex-shrink: 2;}
    .up {
   background-color: #3882f6;
 }
 .empty {
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px;
 }